 @media (min-width: 600px) {
            header .row>div:nth-child(1)>a {
                display: block;
                height: 50px;
                background: url(https://lookgether.github.io/samiscuty/logo2.png) no-repeat;
                background-size: auto 50px;
            }

            body,
            html {
                height: auto !important;
                background-color: rgb(21, 21, 21);
            }

            body {
                background-image: url('https://lookgether.github.io/samiscuty/bg.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: contain;
                background-position: center center;
                background-color: rgb(21, 21, 21);
            }

            header .row>div:nth-child(1)>a img {
                visibility: hidden;
            }

            #viewers-area {
                /* margin-right: 80px;   */
                float: right;
            }

            #viewers {
                line-height: 24px;
                display: block;
                float: right;
                color: white !important;

            }

            #board-info #viewers-area #viewers:before {
                content: "룩숭이 ";
                cursor: text;
            }

            #board-info #viewers-area #viewers:after {
                content: "마리 갤질중";
                cursor: text;
            }

            #board-info #viewers-area .fa-user {
                margin-top: 3px;
                margin-right: 3px;
            }

            #board-info #viewers-area .fa-user:before {
                color: rgba(10, 59, 84, 0);
                content: url(https://static-cdn.jtvnw.net/badges/v1/94983970-efcf-419a-93e2-b05145c836a4/1);
            }

            header #header-bar {
                margin-top: 0.2em;
                margin-bottom: 1em;
                padding-right: 30px;
                padding-left: 30px;
            }


            header #right-search-form>input[type=text] {
                border-color: rgb(210, 177, 109);
                background: rgb(21, 21, 21);
                color: white;
            }

            header #right-search-form>#right-search-btn {
                color: white;
            }

            header #header-bar>.row {
                border-top: 3px solid rgb(210, 177, 109);
                border-bottom: 3px solid rgb(210, 177, 109);
                border-right: 0px;
                border-left: 0;
                padding: 0;
                background: rgb(21, 21, 21);
            }

            header #header-bar #header-menu-left,
            header #header-bar #header-menu-right {
                border: 0;
            }

            header #header-bar #header-top-notice strong.notice-badge {
                display: none;
            }

            header #header-bar>.row * {
                color: white !important;
                background: rgb(21, 21, 21);
            }

            #main .menu-wrapper>.header {
                background: rgb(150, 125, 77);
            }

            #board-info {
                margin-bottom: 0px;
                padding: 0;
                height: auto;
            }

            #board-info>img {
                display: none;
            }

            #main #main-content>div.frame {
                background: rgba(21, 21, 21, 0.5);
                border: 1px solid rgb(210, 177, 109);
            }

            #article-list #article-list-category {
                border-top: 0;
            }

            #main #main-content>div.frame * {
                color: white;
            }

            #comment-write-form-area * {
                color: black !important;
            }

            #article-list {
                padding: 0;
                margin-top: 0;
                padding-bottom: 1em;
            }

            #article-list div {
                background: transparent !important;
            }

            #board-info #board-info-bottom #addFavoriteBtn #article-list-category {
                background: rgb(210, 177, 109) !important;
            }

            #article-list #article-list-category>a.active,
            #article-list #article-list-category>a:hover {
                background: rgb(150, 125, 77) !important;
                color: white !important;
            }

            #article-list #article-list-category>a {
                background: rgb(150, 125, 77) !important;
                color: white !important;
                font-weight: normal;
            }

            #article-list>.article-list-row>.item>.list-header>span {
                background-color: transparent;
                color: rgb(210, 177, 109) !important;
                font-weight: bold;
            }

            header #header-bar #header-top-notice strong.notice-badge {
                background: rgb(210, 177, 109) !important;
            }


            .pagination span:hover {
                background: transparent !important;
                border: 1px solid rgb(150, 125, 77);
            }

            .pagination>li>a:focus,
            .pagination>li>a:hover,
            .pagination>li>span:focus,
            .pagination>li>span:hover {
                background: rgb(150, 125, 77) !important;
                border: 1px solid rgb(150, 125, 77);
            }

            .pagination>li>a,
            .pagination>li>span {
                border-color: rgb(150, 125, 77) !important;
                box-sizing: border-box;
                background: transparent;
            }

            .pagination>.active>a {
                background: rgb(150, 125, 77) !important;
            }

            #article-list #article-list-menu>.btn.write {
                background: rgb(150, 125, 77) !important;
                border: 0;
                margin-right: 1em;
                border-radius: 50000px;
            }

            #article-list #article-list-menu>.btn.write:hover,
            #article-list #article-list-menu>.btn.best:hover {
                transform: scale(1.1);
                transition: all 300ms;
            }

            #article-list #article-list-menu>.btn.best {
                left: 1em;
                background-color: rgb(150, 125, 77);
                color: white !important;
                border: 0;
                border-radius: 50000px;
            }

            .fa-search:before {
                color: rgb(210, 177, 109);
            }

            #article-list #article-list-category {
                border-color: rgb(123, 126, 105);
                background: rgb(150, 125, 77) !important;
            }

            #article-list>.article-list-row>.item>.list-checkbox,
            #article-list>.article-list-row>.item>.list-header,
            #article-list>.article-list-row>.item>.list-category,
            #article-list>.article-list-row>.item>.list-title,
            #article-list>.article-list-row>.item>.list-blocked,
            #article-list>.article-list-row>.item>.list-time {
                border-color: rgba(150, 125, 77, 0.5);
                border-right: 0;
                border-left: 0;
            }

            #article-list>.article-list-row>.item>.list-title>.list-writer {
                /* border: 0 !important; */
                border-color: rgba(150, 125, 77, 0.5);

            }

            #board-info h1 {
                border-color: rgb(123, 126, 105);
                padding-bottom: 5px;
                padding: 8px 1em;
            }

            #board-info h1>a::after {
                content: " 마이너 갤러리"
            }

            #board-info #board-info-bottom {
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 1em;
            }

            span.a-badge i.fa.fa-star {
                background-repeat: no-repeat;
                color: rgb(210, 177, 109) !important;
            }

            span.a-badge i.fa.fa-star::before {
                content: "\f0e7";
            }

            #main .menu-wrapper>a {
                background: rgba(21, 21, 21, 0.5);
                color: white;
                border: 0;
            }

            #main .menu-wrapper>a>em {
                color: rgb(210, 177, 109);
            }

            #main .menu-wrapper .spacer {
                background: rgb(150, 125, 77);
            }

            #main .menu-wrapper {
                border-right: none;
                border-bottom: 0;
            }

            #main-menu>div {
                background: rgba(21, 21, 21, 0.3) !important;
            }

            .nav-link {
                color: #000 !important;
            }

            #score-area {
                display: none !important;
            }

            #article-list>.article-list-row>.item>.list-title>a,
            #article-list>.article-list-row>.item>.list-title>a:visited {
                color: white !important;
            }

            #article-list>.article-list-row>.item>.list-title>a:visited {
                color: grey !important;
            }

            #article-list>.article-list-row.hot {
                background-color: rgba(210, 177, 109, 0.4) !important;

            }

            #article-list>.article-list-row.notice {
                background-color: rgba(210, 177, 109, 0.3) !important;
            }

            #article-list>.article-list-row {
                border-right: 0;
            }

            #article-list>.article-list-row:hover {
                background: rgba(210, 177, 109, 0.3) !important;
                transform: scale(1.03);
                transition: all 300ms;
                border: 1px solid white;
            }

            .category {
                color: white !important;
                width: 50px;
            }

            #article-list>.article-list-row>.item>.list-header.v0>span {
                background-color: transparent !important;
                color: rgb(210, 177, 109) !important;
                font-weight: bold;

                /* color: transparent !important; */
            }

            #boardSearchForm input,
            #boardSearchForm button {
                background: transparent !important;
                border-color: rgb(210, 177, 109) !important;
            }

            .form-control:focus {
                box-shadow: none !important;
            }

            footer *:not(a) {
                color: white;
            }

            footer a {
                color: rgb(210, 177, 109) !important;
            }

            form[action="/board/write/looksam"] *:not(.opt) {
                color: black !important;
            }

            .opt {
                color: white !important;
            }

            a.custom-badge-link {
                border-color: transparent;
            }

            a.custom-badge-link.active {
                border-color: rgb(210, 177, 109);
            }

            #dropZone button {
                background-color: rgb(150, 125, 77);
                border: 0;
            }

            #article-write-button,
            #addPollBtn,
            a[href="/looksam"].btn.btn-default {
                background: rgb(150, 125, 77) !important;
                border: 0;
                border-radius: 50000px;
                color: white !important;
            }

            #article-write-button i {
                color: white !important;
            }

            #main-content>div.frame>div:nth-child(2)>div:not(.article-list-row) {
                background: transparent !important;
            }

            #article-content-wrapper #article-content {
                border: 0;
            }

            #article-content-wrapper>.header {
                border-color: rgb(150, 125, 77);
            }

            #article-content-wrapper>.vote-area {
                border: 0;
            }

            #article-content-wrapper>.footer {
                background: transparent !important;
            }

            #article-reply-area #reply-real-area .reply,
            #article-reply-area #reply-best-area .reply div {
                background: transparent !important;
            }

            #article-content-wrapper>.header {
                background: transparent !important;
            }

            #article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
            #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
                color: rgb(150, 125, 77);
            }

            #article-content-wrapper>.vote-area {
                width: 288px;
                height: 98px;
                margin: 0 auto 36px;
                padding-top: 19px;
                border: 1px solid #c4c4c4;
                background: white;
                border-radius: 2px;
            }

            #article-content-wrapper .btn-outline-success,
            #article-content-wrapper .btn-outline-success:hover,
            #article-content-wrapper .btn-outline-success:focus,
            #article-content-wrapper .btn-outline-success:active {
                position: relative;
                color: transparent !important;
                border: none;
                background-color: transparent;
                outline: none;
                box-shadow: none;
                width: 120px;
                height: 56px;
                padding: 0;
            }

            #article-content-wrapper .btn-outline-success>i {
                right: 17px;
                top: 7px;
                z-index: 999;
                position: absolute;
                color: white;
                font-size: 27px;
            }

            #article-content-wrapper .btn-outline-success>i {
                display: none;
            }

            #article-content-wrapper .btn-outline-success>span {
                left: -2px;
                position: absolute;
                color: #d31900;
                top: 0;
                width: 120px;
                font-size: 18px;
                line-height: 56px;
            }

            #article-content-wrapper .btn-outline-success>span::before {
                float: right;
                content: "";
                padding-top: 13px;
                font-size: 12px;
                line-height: 56px;
                margin-left: 0px;
                background-image: url('https://lookgether.github.io/samiscuty/up.png');
                background-size: cover;
                color: white;
                width: 56px;
                height: 56px;
                display: block;
            }

            #article-content-wrapper .btn-outline-primary,
            #article-content-wrapper .btn-outline-primary:hover,
            #article-content-wrapper .btn-outline-primary:focus,
            #article-content-wrapper .btn-outline-primary:active {
                position: relative;
                color: white;
                border: none;
                color: transparent !important;
                outline: none;
                background-color: transparent;
                box-shadow: none;
                width: 120px;
                height: 56px;
                padding: 0;
            }

            #article-content-wrapper .btn-outline-primary>i {
                display: none;
            }

            #article-content-wrapper .btn-outline-primary>span {
                right: -2px;
                position: absolute;
                color: black;
                width: 120px;
                font-size: 18px;
                top: 0;
                line-height: 56px;
            }

            #article-content-wrapper .btn-outline-primary>span::before {
                float: left;
                content: "";
                padding-top: 13px;
                font-size: 12px;
                line-height: 56px;
                margin-right: 0;
                color: white;
                width: 56px;
                height: 56px;
                background-image: url('https://lookgether.github.io/samiscuty/down.png');
                background-size: cover;
                display: block;
            }

            #down {
                color: red !important;
            }

            #up {
                color: blue !important;
            }

            #article-content-wrapper div.footer a {
                background: rgb(150, 125, 77) !important;
                border: 0;
                border-radius: 50000px;
                color: white !important;

            }
  #article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header{
   background:transparent;
  }
 #comment-write-form *{
 color: black !important;
        }
