header .row>div:nth-child(1)>a {
    display: block;
    height: 50px;
    background: url(https://lookgether.github.io/samiscuty/logo2.png) no-repeat;
    background-size: auto 50px;
}
body, html {
    height: auto!important;
}

body{
  background-image: url('https://lookgether.github.io/samiscuty/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
header .row>div:nth-child(1)>a img {
    visibility:hidden;
}

#viewers-area{
    display: inline-block !important;
}

#viewers{
}

#board-info #viewers-area #viewers:before {
    content: "룩숭이 ";
    cursor: text;

}
#board-info #viewers-area #viewers:after {
    content: "인스타 업로드 기다리는 중";
    cursor: text;
}
#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: url(https://static-cdn.jtvnw.net/badges/v1/94983970-efcf-419a-93e2-b05145c836a4/1);
}

header #header-bar {
    margin-top: 0.2em;
    margin-bottom: 1em;
    padding-right: 30px;
    padding-left: 30px;
}

span.a-badge i.fa.fa-star{
  opacity: 100;
  color: rgba(0,0,0,0);
  vertical-align: 2px !important;
  /* width: 15px;
  height: 15px; */
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background:url('https://lookgether.github.io/samiscuty/star.gif');
}

header #right-search-form>input[type=text]{
  border-color: rgb(210,177,109);
}

header #right-search-form > #right-search-btn{
  color:white;
}

header #header-bar>.row{
  border-color:rgb(210,177,109);
}

#main .menu-wrapper>.header{
  background: rgb(210,177,109);
}

#board-info > img{
  float:left !important;
  margin-right: 10px;
}

#article-list-category{
  background: rgb(210,177,109) !important;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover{
  background: rgb(210,177,109) !important;
}

#article-list #article-list-category>a{
  background: rgb(210,177,109) !important;
}

#article-list>.article-list-row>.item>.list-header>span{
  background-color: rgb(123,126,105);
}

header #header-bar #header-top-notice strong.notice-badge{
  background: rgb(210,177,109) !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background: rgb(210,177,109) !important;
  border:none;
}

#article-list #article-list-menu>.btn.write{
  background: rgb(210,177,109) !important;
}

.fa-search:before{
  color:rgb(210,177,109);
}

#article-list #article-list-category{
  border-color: rgb(123,126,105);
}

#board-info h1{
  border-color: rgb(123,126,105);
}

span.a-badge i.fa.fa-star{
  background-repeat: no-repeat;
}

#main .menu-wrapper>a>em{
    color : rgb(210,177,109);
}

#main .menu-wrapper .spacer{
    background:rgb(210,177,109);
}

#main .menu-wrapper{
    border-right:none;
}

.nav-link{
    color : #000 !important;
}
@media (max-width: 600px) {
  body {
      background: none !important;
   }
   header>#header-area>a>h1{
     background: url(https://lookgether.github.io/samiscuty/logo2.png) no-repeat;
     background-size: auto 40px;
   }

   #board-info #viewers-area #viewers:after{
     display: none;
   }
   #board-info #viewers-area #viewers:before{
     display: none;
   }

}

